<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" [routerLink]="['/tabs/home']">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cursos" [routerLink]="['/tabs/cursos']">
      <ion-icon name="book-outline"></ion-icon>
      <ion-label>Cursos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="comunidad" [routerLink]="['/tabs/comunidad']">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Comunidad</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cuenta" [routerLink]="['/tabs/cuenta']">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Cuenta</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
